<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Program Test</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
    integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icono/1.3.0/icono.min.css"
    integrity="sha512-g1h0cHxwdMGiafnhEFEQj3VTRCt/iUzz53rRYpy8x/eL/4E17FbCitBL2RJltJZsCBDyJe3J7ByGpXAF/+zcMw=="
    crossorigin="anonymous" />
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
      <br />
      <p class="subtitle" style="font-size: 12px;">
        Message from Mini Program: <span id="status">None</span>
      </p>
      <div class="buttons">
        <a role="button" class="button" onclick="onClick()">Test Alert</a>
        <a role="button" class="button" onclick="onClickToMenu()">Test: Go to Menu</a>
        <a role="button" class="button" onclick="onClickToCart()">Test: Go to Cart</a>
        <a role="button" class="button" onclick="onClickToRefresh()">Test: Refresh page</a>
      </div>
    </div>
  </section>

  <!-- 如该 H5 页面需要同时在非支付宝客户端内使用，为避免该请求404，可参考以下写法 -->
  <!-- 请尽量在 html 头部执行以下脚本 -->
  <script>
    if (navigator.userAgent.indexOf('AliApp') > -1) {
      document.writeln('<script src="https://appx/web-view.min.js"' + '>' + '<' + '/' + 'script>');
    }
    function onClick() {
      // Send back to mini program
      my.postMessage({ 'sendToMiniProgram': '0', 'action': 'none' });
    }
    function onClickToMenu() {
      my.postMessage({ 'sendToMiniProgram': '1', 'action': 'menu' });
    }
    function onClickToCart() {
      my.postMessage({ 'sendToMiniProgram': '1', 'action': 'cart' });
    }
    function onClickToRefresh() {
      my.postMessage({ 'sendToMiniProgram': '1', 'action': 'refresh' });
    }
  </script>

  <script>
    // 网页向小程序 postMessage 消息
    // 接收来自小程序的消息。
    // Catch postMessage from mini program
    my.onMessage = function (e) {
      document.getElementById("status").textContent = 'Received! \n\n(Contains: ' + JSON.stringify(e) + ')';
    }
    // 判断是否运行在小程序环境里
    my.getEnv(function (res) {
      console.log(res.miniprogram) // true
    });
  </script>
</body>

</html>